@tailwind utilities;
.main-wrapper {
  background-image: url('/spider-web.jpg');
}
.gradient {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
/* @layer utilities { */
.activeLink,
.prose:where(h1):not(:where([class~='not-prose'], [class~='not-prose'] *)),
.punch-line h2 {
  --to: left;
  font-weight: bold;
  background-image: linear-gradient(to var(--to), #89a5df, #e46e7f, #e8e191);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
}
.punch-line h2.right {
  --to: right;
}
/* } */
